<li
  class="app-courses-card"
  [ngClass]="{ 'app-course-card__top-rated': course.isTopRated }"
  [appHighlightBorder]="course.date"
  [appTopRated]="course.isTopRated">
  <div>
    <h2 class="app-course-card__title">{{ course.name | uppercase }}</h2>
    <p>{{ course.description }}</p>
  </div>
  <div class="app-course-card__right-part">
    <div class="app-course-card__style-wrapper">
      <div class="app-course-card__info">
        <fa-icon [icon]="clockIcon"></fa-icon>
        {{ course.length | duration }}
      </div>
      <div class="app-course-card__info">
        <fa-icon [icon]="calendarIcon"></fa-icon>
        {{ course.date | date : 'd MMM, y' }}
      </div>
    </div>
    <div class="app-course-card__style-wrapper">
      <button class="app-button app-edit-button" (click)="onEditCourse()">
        <fa-icon [icon]="penIcon"></fa-icon>
        {{ editText }}
      </button>
      <button class="app-button app-delete-button" (click)="onDeleteCourse()">
        <fa-icon [icon]="trashIcon"></fa-icon>
        {{ deleteText }}
      </button>
    </div>
  </div>
</li>
