.app-courses-card {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  border-radius: 6px;
  background-color: #ffff;
  padding: 24px;
  box-shadow: 0 1px 2px 0 rgba(29, 31, 38, 0.1),
    0 2px 10px 0 rgba(29, 30, 38, 0.15);
}

.app-course-card__right-part {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.app-course-card__style-wrapper {
  display: flex;
  gap: 10px;
  justify-content: stretch;
}

.app-course-card__info {
  font-size: 10px;
  color: #858997;
}

.app-button {
  background: #009ecc;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  line-height: 12px;
  height: 24px;
  width: 71px;
}

.app-course-card__top-rated {
  background: linear-gradient(180deg, #fffce1 0%, #dbd27e 178.76%);
  border: 2px solid #e8da91;
}

.app-course-card__title__top-rated::after {
  content: '★';
  color: #ffd700;
  margin-left: 5px;
}
