<section class="app-search-bar">
  <form class="app-search-bar-form" action="">
    <input
      class="app-input__search"
      type="search"
      name="searchBar"
      [(ngModel)]="inputValue"
      [placeholder]="placeholder"
      (input)="clearInput()" />
    <button class="app-button__search" (click)="onSearch()">
      {{ searchText }}
    </button>
  </form>
  <button class="app-button__add-course" (click)="onAddingCourse()">
    <fa-icon class="fa-icon" [icon]="addIcon"></fa-icon>
    {{ addText }}
  </button>
</section>
