<section class="app-courses-page">
  <app-search-bar></app-search-bar>
  <ul class="app-courses-list">
    <app-course-card
      *ngFor="let course of courses; trackBy: trackCourseById"
      [course]="course"
      (courseEdited)="onCourseEdited($event)"
      (courseDeleted)="onCourseDeleted($event)"></app-course-card>
  </ul>
  <div class="app-load-more-wrapper">
    <button class="app-button__load-more" (click)="onLoadingMore()">
      <a href="#">
        {{ loadMoreText }}
      </a>
    </button>
  </div>
</section>
