.app-courses-page {
  max-width: 1100px;
  height: fit-content;
  /* height: fit-content;
  background-color: #f5f6fa;
  padding: 10px 50px; */
}

.app-courses-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: stretch;
  padding: 0;
  margin: 0;
}

.app-load-more-wrapper {
  width: 100%;
  margin: 24px 0;
  padding: 24px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: #ffff;
  box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1),
    0 2px 10px 0 rgba(29, 30, 38, 0.15);
}
.app-button__load-more {
  background-color: transparent;
  border: none;
}

@media (max-width: 1000px) {
  .app-courses-page {
    height: fit-content;
    padding-bottom: 40px;
  }
}
