.app-not-found-wrapper {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.app-not-found-back-button {
  background: #009ecc;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 7px;
}
