.app-search-bar {
  /* display: flex;
  flex-direction: column;
  gap: 20px; */
  padding: 10px;
}

.app-search-bar-form {
  display: flex;
  justify-content: flex-start;
}

.app-button__add-course {
  margin-top: 20px;
}
