<main class="app-main-section">
  <app-login *ngIf="!isAuthorize"></app-login>
  <div *appIfAuthenticated="isAuthorize">
    <app-breadcrumbs></app-breadcrumbs>
    <div class="app-main-wrapper">
      <app-courses-list
        *ngIf="!isAddingCourse; else courseAddition"
        (courseAddition)="isAddingCourse = true">
      </app-courses-list>
      <ng-template #courseAddition>
        <app-add-course
          (cancelAddition)="isAddingCourse = false"></app-add-course>
      </ng-template>
    </div>
  </div>
</main>
