.app-header {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  color: white;
  background: #303240;
}
.app-header__block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.app-button__logging {
  background: #303240;
  color: white;
  font-size: 14px;
  border: none;
}

.app-username-wrapper {
  font-size: 14px;
}
