<div class="app-add-course-wrapper">
  <h2>New Course</h2>
  <app-course-title
    [(courseName)]="courseName"
    (courseNameChange)="setTitle($event)"></app-course-title>
  <app-course-description
    [(courseDescription)]="courseDescription"
    (courseDescriptionChange)="setDescr($event)"></app-course-description>
  <app-course-creation-date
    [(releaseDate)]="releaseDate"
    (releaseDateChange)="setDate($event)"></app-course-creation-date>
  <app-course-duration
    [(duration)]="duration"
    (durationChange)="setDuration($event)"></app-course-duration>
  <app-course-authors
    [authors]="authors"
    (authorsChange)="setAuthors($event)"></app-course-authors>
  <app-add-course-buttons
    (cancelClick)="onCanceling()"
    (saveClick)="onSaving()"></app-add-course-buttons>
</div>
